.item{
    padding: 0.5rem 0;
    border: 1px solid transparent;
    transition: 0.3s all;
    & .image {
        height: 60px;
        width: 100%;
        background-color: rgb(253, 231, 231);
    }

    & .title{
        font-weight: 600;
    }
    
    & .description{
        font-size: 0.7rem;
    }

    &:hover{
        cursor: pointer;
        border-color:white;
    }
}
